.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 64rem;
  font-size: 1rem;
}

@media screen and (max-width: 1100px) {
  .content {
    width: 52rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 760px) {
  .content {
    width: 42rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 640px) {
  .content {
    width: 25rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .content {
    width: 25rem;
  }
}

.video {
  object-fit: contain;
  margin: 3rem 0;
  text-align: center;
  border: solid;
  border-width: thick;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}

.team {
  text-align: center;
}

.image {
  text-align: center;
}
