.headingLg {
  font-size: 2.0rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.4;
}

.bodyMd {
  font-size: 1.2rem;
}

.bodyMdBold {
  font-size: 1.2rem;
  font-weight: bold;
}

.lightText {
  color: #ffffff;
}
