.headingLg {
  font-size: 2.0em;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05em;
  margin: 1em 0;
}

.headingMd {
  font-size: 1.2em;
  line-height: 1.4;
}

.bodyMd {
  font-size: 1.2em;
}

.bodyMdBold {
  font-size: 1.2em;
  font-weight: bold;
}

.lightText {
  color: #ffffff;
}
